.about-section {
  @include media(desktop) {
  }
}

.about-bg-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
  }
}

.about-container {
  @include media(desktop) {
  }
}

.about-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
  }
}

.about-text-wrapper {
  @include media(desktop) {
    max-width: 544px;
  }
}

.about-title {
  @include media(desktop) {
  }
}

.about-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #383838;

  @include media(desktop) {
    font-size: 18px;
  }
}

.about-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    min-width: 446px;
    margin: 0;
  }
}
