.modes-section {
  @include media(desktop) {
  }
}

.modes-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
  }
}

.modes-container {
  @include media(desktop) {
  }
}

.modes-content-wrapper {
  @include media(desktop) {
  }
}

.modes-title {
  margin-bottom: 8px;

  @include media(desktop) {
  }
}

.modes-subtitle {
  @include media(desktop) {
  }
}

.modes-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 24px;
  }
}

.modes-list-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  max-width: 343px;

  @include media(desktop) {
    max-width: 352px;
  }
}

.modes-item-title {
  font-family: 'Archivo', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #d0d9fd;

  @include media(desktop) {
    font-size: 20px;
  }
}

.modes-img {
  @include media(desktop) {
  }
}

.modes-item-text {
  font-family: 'Archivo', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;

  @include media(desktop) {
    font-size: 18px;
  }
}

.modes-bottom-text {
  font-family: 'Archivo', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;

  @include media(desktop) {
    font-size: 20px;
  }
}
