<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <div class="about-text-wrapper">
          <h2 class="section-title about-title">Concept</h2>
          <p class="about-text">
            So it's like a rhythm game, but instead of going nuts tapping
            everything, you actually have to chill and wait for the right
            moment.<br />
            <br />
            <span class="about-text-span">Soft Interval: Pulse Between</span> is
            not about tapping to the beat.<br />
            It’s about waiting for the silence between beats.<br />
            <br />
            Each level unfolds in expanding pulse rings that define when you can
            interact. The whole thing feels like it's breathing - stuff just
            pulses in and out, you know? You observe, anticipate, and respond
            only during the safe interval window.<br />
            <br />
            The tension doesn’t come from speed.<br />
            It comes from precision.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/about/about-img-desk.png"
            media="(min-width: 1440px)"
            width="544"
            height="357" />
          <source
            srcset="./img/about/about-img-mob.png"
            width="343"
            height="522" />
          <img
            class="about-img"
            src="./img/about/about-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="522"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
