<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <div class="about-text-wrapper">
          <h2 class="section-title about-title">Concept</h2>
          <p class="about-text">
            It's weird - you're controlling things, but not really controlling
            them at all. Quiet Margin: Edge Balance is a minimal physics puzzle
            built around restraint. The center of the screen behaves like a
            gravitational anomaly, drawing shapes inward over time.<br />
            <br />
            You cannot interact with the unstable core.<br />
            <br />
            You can only act from the edges.<br />
            <br />
            That's literally the whole game right there. You've got to watch how
            things move, figure out when stuff's gonna fall apart, and try to
            keep everything balanced without doing too much.<br />
            Stability is never forced. It’s earned.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/about/about-img-desk.png"
            media="(min-width: 1440px)"
            width="446"
            height="410" />
          <source
            srcset="./img/about/about-img-mob.png"
            width="343"
            height="316" />
          <img
            class="about-img"
            src="./img/about/about-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="316"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
