<section class="section modes-section" id="modes">
  <div class="modes-bg-wrapper">
    <div class="container modes-container">
      <div class="modes-content-wrapper">
        <h2 class="section-title modes-title">Modes</h2>
        <p class="modes-subtitle">Different ways to approach balance.</p>
        <ul class="modes-list">
          <li class="modes-list-item">
            <p class="modes-item-title">Level Mode</p>
            <picture>
              <source
                srcset="./img/modes/modes-img1-desk.png"
                media="(min-width: 1440px)"
                width="352"
                height="352" />
              <source
                srcset="./img/modes/modes-img1-mob.png"
                width="343"
                height="343" />
              <img
                class="modes-img"
                src="./img/modes/modes-img1-mob.png"
                alt="Screenshot of the game"
                width="343"
                height="343"
                loading="lazy"
            /></picture>
            <p class="modes-item-text">
              Carefully designed puzzles with escalating complexity and refined
              challenges.
            </p>
          </li>
          <li class="modes-list-item">
            <p class="modes-item-title">Endless Margin</p>
            <picture>
              <source
                srcset="./img/modes/modes-img2-desk.png"
                media="(min-width: 1440px)"
                width="352"
                height="352" />
              <source
                srcset="./img/modes/modes-img2-mob.png"
                width="343"
                height="343" />
              <img
                class="modes-img"
                src="./img/modes/modes-img2-mob.png"
                alt="Screenshot of the game"
                width="343"
                height="343"
                loading="lazy"
            /></picture>
            <p class="modes-item-text">
              Continuous drift. Survive as long as possible before collapse.
            </p>
          </li>
          <li class="modes-list-item">
            <p class="modes-item-title">Precision Challenge</p>
            <picture>
              <source
                srcset="./img/modes/modes-img3-desk.png"
                media="(min-width: 1440px)"
                width="352"
                height="352" />
              <source
                srcset="./img/modes/modes-img3-mob.png"
                width="343"
                height="343" />
              <img
                class="modes-img"
                src="./img/modes/modes-img3-mob.png"
                alt="Screenshot of the game"
                width="343"
                height="343"
                loading="lazy"
            /></picture>
            <p class="modes-item-text">
              Achieve target stability scores using the minimum number of
              placements.
            </p>
          </li>
        </ul>
        <p class="modes-bottom-text">
          All the game modes keep things calm - none of them are trying to
          stress you out with crazy action.
        </p>
      </div>
    </div>
  </div>
</section>
