<section class="section progression-section" id="progression">
  <div class="progression-bg-wrapper">
    <div class="container progression-container">
      <div class="progression-content-wrapper">
        <div class="progression-text-wrapper">
          <h2 class="section-title progression-title">Progression</h2>
          <p class="progression-text">
            It starts pretty easy with just one thing floating around, but gets
            tricky fast.<br />
            <br />
            Early levels introduce single-object motion and wide margins. You
            learn how gravity behaves and how subtle placements shift
            trajectories.<br />
            <br />
            As complexity increases, multiple shapes interact, collide, and
            influence each other. Margins narrow. Pull intensifies. Stability
            becomes delicate.<br />
            <br />
            Later stages demand prediction rather than reaction. One misplaced
            object can undo an entire structure.<br />
            Some puzzles resolve in seconds. Others linger in your thoughts long
            after.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/progression/progression-img-desk.png"
            media="(min-width: 1440px)"
            width="448"
            height="405" />
          <source
            srcset="./img/progression/progression-img-mob.png"
            width="343"
            height="310" />
          <img
            class="progression-img"
            src="./img/progression/progression-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="310"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
